.banner-items {
    .highlight {
        text-align: center;
        padding: rem(20px) rem(200px);
        background-color: $teabrazo-blue-2;
    }
    padding-bottom: rem(25px);
    .highligh__items {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .highligh__item {
            padding: rem(10px);
            width: 100%;
            text-align: center;
            @include from(l) {
                width: 30%;
            }
        }
    }
}