.servicios{
    align-items: center;
    padding-top: rem(50px);
    margin-right:rem(150px);   
    &__titulo {
        color: $white;
        position: absolute;
        bottom: rem(300px);
        left: rem(120px);
        h4 {
            color: $blue;
            margin-left:rem(800px);
            font-family: $mb;
        }
    }

    &__imagen {
        max-width: rem(100px);
        position: static;
        align-content: center;
    }

    &__caption {
        padding: rem(50px);
        max-width: auto;
        text-align: center;        
    }
          
}